[Unit]
Description=App Name
After=network.target

[Service]
User=user
WorkingDirectory=/path/to/flaskr
ExecStart=/path/to/bin/waitress-serve --call app:create_app
Restart=always

[Install]
WantedBy=multi-user.target
